body {
    font-family: sans-serif;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    width: 700px;
    height: 100%;
}

h1 {
color: white;
font-family: 'Anton', sans-serif;
}

.section-title {
    color: #2ddf5c;
}

