<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>

    <div class="login-box">
        <img src="avatar2.png" class="avatar">
        <h2>Login here...</h2>
        <form action="http://localhost:3000/api/login" method="post">
            <p>Email id</p>
            <input type="text" id="email" name="email" placeholder="Enter emailid">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter password">
            <input type="submit" name="submit" value="Login"><br>
            <a href="#">Forget Password</a>
        </form>
    </div>
</body>

</html>