table, th, td{
    border: 1px solid black;
    text-align: center;
    background: lightblue;   
}

.container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.item-1{
    padding: 20px;
    text-align: center;
}

.item-2{
    padding: 10px;
    margin: auto 20px;
}
.item-3{
    padding: 10px;
    margin: auto 20px;
    background: lightblue;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 200px;
}

th,td{
    height: 30px;
}

th{
color: darkblue
}

.table{
    overflow-y: auto;
    height: 400px;
    width: 220px;
    margin: auto; 
}

.addemp{
    width: 300px;
    height: 150px;
    background: lightblue;
    text-align: center;      
}

p{
    margin: 0;
    padding: 8px;
}

.emp-details{
    width: 400px;
    height: 280px;
    border: 1px solid steelblue;
}

label{
    display: inline-block;
    width: 120px;
}
input, label, button{
    padding: 3px;
    margin: 5px;
}
.required{
    font-weight: bold;
    color: red;
}